.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-div {
    width: 500px;
}

.todo-form {
    display: flex;
    flex-direction: column;
}

.description {
    color: rgb(58, 58, 201);
}

.input-area {
    color: rgb(55, 55, 122);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid blue;
    outline: none;
}

.add-todo-button {
    margin: 15px 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: green;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
